---
- name: Setup HashiCorp Vault on Fedora
  hosts: all
  become: true
  vars:
    vault_version: "latest"

  tasks:
    - name: HashiCorpリポジトリファイルの配置
      get_url:
        url: "https://rpm.releases.hashicorp.com/fedora/hashicorp.repo"
        dest: /etc/yum.repos.d/hashicorp.repo
        mode: '0644'

    - name: Vaultのインストール
      dnf:
        name: vault
        state: latest
        update_cache: yes

    - name: Vault設定ファイルの配置 (config.hcl)
      copy:
        dest: /etc/vault.d/vault.hcl
        content: |
          ui = true
          disable_mlock = true

          storage "file" {
            path = "/opt/vault/data"
          }

          listener "tcp" {
            address     = "0.0.0.0:8200"
            tls_disable = 1
          }

          api_addr = "http://{{ ansible_default_ipv4.address }}:8200"
          cluster_addr = "http://{{ ansible_default_ipv4.address }}:8201"

    - name: Vaultサービスの有効化と起動
      systemd:
        name: vault
        state: restarted
        enabled: yes
